:host {
    background-color: white;
}

p {
    font-size: 0.6rem;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

@media (min-width: 375px) {
    p {
    font-size: 0.8rem;
    }
}


@media (min-width: 576px) {
    p {
    font-size: 1rem;
    }
}


@media (min-width: 768px) {
    p {
    font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    p {
    font-size: 2rem;
    margin-top: 20px;
    }
}